.container {
  max-width: 1240px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2em 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .search-fault {
    margin-top: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    span {
      font-family: Staatliches, sans-serif;
    }
  }
  @include smart {
    padding: 2em 0 0;
  }
}