.add-new {
  color: $color-third-dark;
  margin-bottom: .5em;
}

.content-section {
  width: 100%;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}