.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .search-fault {
    margin-top: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    span {
      font-family: Staatliches, sans-serif;
    }
  }
  @include smart {
    padding: 2em 0;
  }
}