footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 2.5em;
  margin-top: 1em;
  background: $color-third;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-self: flex-end;
  .copy, .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2em;
    justify-content: space-between;

  }
  .copy-txt, .copy-link {
    font-size: .8em;
    line-height: 1.3em;
    color: white;
  }
  .copy-link {
    cursor: pointer;
  }
  @include smart {
    border-radius: 0;
  }
}
