@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

body {
  font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Staatliches,sans-serif;
  color: $color-third-dark;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  color: $color-third-dark;
  line-height: 1.2em;
}