.btn {
  background: $color-third-dark;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: .3em .8em;
  border: 1px solid $color-third-dark;
  border-radius: 15px;
  &-post {
    width: 80px;
  }
  &:active {
    transform: scale(.95);
  }
  &.alert {
    background-color: $color-cancel;
    border-color: $color-cancel;
  }
  &-hide {
    display: none;
  }
  &-downloader{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      font-size: .825rem;
    }
  }
  &.deactive {
    background-color: $color-third;
    border-color: $color-third;
    &:active {
      transform: none;
    }
  }
}