.logo {
  position: relative;
  user-select: none;
  font-family: Staatliches, sans-serif;
  color: $color-third;
  .demo-tag {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-40%);
    color: $color-third;
    font-size: .8rem;
  }
  span {
    color: white;
    -webkit-text-stroke: 1px $color-third;
  }
  .login-ico {
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    transform: translate(5px, 10px);
    color: $color-third;
    -webkit-text-stroke: 1px $color-third-dark;
    &:active {
      transform: translate(5px, 10px) scale(.9);
      color: $color-third-dark;
    }
    &.logout {
      color: $color-alert;
      -webkit-text-stroke: 1px $color-cancel;
    }

  }
  @include smart {
    font-size: 4rem;
    .login-ico {
      font-size: 1.3rem;
    }
  }
}