.main-menu {
  width: 100%;
  height: 42px;
  padding: .5em 1.5em;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  background-color: $color-third;
  border-radius: 15px;
  color: white;
  &-home, &-user, form {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  &-home, &-glass {
    cursor: pointer;
    font-size: 1.5em;
    &:active {
      color: $color-third-dark;
      transform: scale(.96);
    }
  }
  .search {
    border: 2px solid $color-third;
    padding:0.2em 0.4em;
    width: 155px;
    min-width:100px;
    &:focus {
      outline: none;
      border-bottom: 2px solid $color-third-dark;
    }
  }
  @include smart {
    border-radius: 0;
  }
}