.post {
  position: relative;
  display: flex;
  gap: 1em;
  width: 100%;
  background-color: white;
  border: 1px solid $color-second;
  border-radius: 10px;
  padding: 1.2em;
  &:nth-of-type(2){
    flex-direction: row-reverse;
    .post-date {
      text-align: right;
    }
  }
  &-content {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &, &-main {
      display: flex;
      gap: 1em;
      flex-direction: column;

    }
    &-bottom {
     justify-self: flex-end;
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: .6em;
    &-single {
      background-color: $color-third;
      border-radius: 15px;
      text-transform: uppercase;
      color: white;
      font-size: .6em;
      padding: .6em .9em;
    }
  }
  .date-line {
    margin: .3em 0;
    border-top: 1px solid $color-third;
  }
  &-date {
    font-size: .6em;
    color: $color-third;
  }
  &-img {
    height: 200px;
    min-width: 300px;
    border: 1px solid $color-third;
    border-radius: 5px;
  }
  &-buttons {
    display: flex;
    gap: 1em;
    position: absolute;
    transform: translate(-50%, 50%);
    bottom:0;
    left:50%;
  }
  .delete {
    background: $color-cancel;
    border-color: $color-cancel;
  }
}